<h2>Your devices</h2>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add device in two easy steps!
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="addDeviceFormGroup">
      <form [formGroup]="addDeviceFormGroup">
        <ng-template matStepLabel>Basic device informations</ng-template>
        <mat-form-field class="display-table">
          <input matInput placeholder="Device name" formControlName="devName" required>
        </mat-form-field>
        <mat-form-field class="display-table">
          <mat-select placeholder="Device Type" formControlName="devType">
            <mat-option *ngFor="let type of deviceTypes" [value]="type.id">
              <i class="{{ type.icon }}"></i> {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addDeviceFormGroup">
      <form [formGroup]="addDeviceFormGroup">
        <ng-template matStepLabel>Capabilities</ng-template>

        <div formArrayName="capabilities" class="capability-tab">
          <div *ngFor="let capability of addDeviceFormGroup.controls.capabilities.controls; let i=index">
            <div class="row">
              <div [formGroupName]="i" class="grid">
                <input matInput formControlName="capabilityName" placeholder="Capability name">
                <mat-select placeholder="Capability Type" formControlName="capabilityType">
                  <mat-option *ngFor="let cap of capabilities" [value]="cap.id">
                    {{ cap.name }}
                  </mat-option>
                </mat-select>
                <mat-select placeholder="Icon" formControlName="capabilityIcon">
                  <mat-option *ngFor="let icon of iconList" [value]="icon.class">
                    <i class="{{ icon.class }}"></i> {{ icon.label }}
                  </mat-option>
                </mat-select>
                <mat-icon class="toolbar-icon" (click)="removeCapability(i)"
                    *ngIf="addDeviceFormGroup.controls.capabilities.length > 1">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <button mat-mini-fab color="primary" id="addCapability" class="display-table" (click)="addCapability()">
          +
        </button>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="addDevice()"
                [disabled]="!addDeviceFormGroup.controls.devName.valid ||
                !addDeviceFormGroup.controls.devType.valid ||
                !addDeviceFormGroup.controls.capabilities.valid ||
                !areCapabilitiesUnique()">
          Add device!
        </button>
      </div>
      <mat-card *ngIf="errorMessage">{{ errorMessage }}</mat-card>
    </mat-step>
  </mat-horizontal-stepper>

</mat-expansion-panel>
