.display-table {
  display: table;
}

.toolbar-icon {
  cursor: pointer;
}

#addCapability {
  margin-left: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  /*width:100%;*/
}

.grid {
  display: flex;
  padding: 10px 0;
}

.capability-group {
  width: auto;
  display: flex;
  margin: 10px 0 10px 0;
}

.capability-tab {
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 15px;
  padding: 10px 20px;
}

#addCapability {
  margin-top: 10px;
}

.mat-card {
  color: red;
  margin-top: 10px;
}

.device-card {
  width: 300px;
  color: black;
  margin: 30px;
}

.card-icon {
  width: 25%;
  height: 100%;
}

.card-flex {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
}

mat-card-subtitle {
  padding-top: 10px;
}

#device-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-component {
  margin-top: 15px;
}

.card-sensor-text {
  font-size: 22px;
  color: black;
}
