.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-icon {
  padding: 0 20px;
  transform: scale(1.5);
}

.toolbar-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: black;
}

#account-btn {
  height: 100%;
}

.mat-tab {
  align-content: center;
}

#toolbar {
  z-index: 999;
}
