.profile-card {
  width: 50%;
  margin: 30px auto 0;
  display: flex;
  vertical-align: middle;
}

.icon-container {
  width: 20%;
  vertical-align: middle;
}

button {
  margin-left: 20px;
}

.profile-card-content {
  margin: auto;
  width: 70%;
}
