<mat-tab-group mat-stretch-tabs (selectedTabChange)="update_route($event)" [selectedIndex]="selectedIndex">
  <mat-tab label="Register">
    <form [formGroup]="signUpForm" (ngSubmit)="register_account()">
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input formControlName="username" placeholder="Enter your login" matInput>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-card *ngFor="let error of signUpErrors.username">{{ error }}</mat-card>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-card *ngFor="let error of signUpErrors.email">{{ error }}</mat-card>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" type="password" formControlName="password1">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-card *ngFor="let error of signUpErrors.password1">{{ error }}</mat-card>
        <mat-form-field appearance="outline">
          <mat-label>Repeat password</mat-label>
          <input matInput placeholder="Repeat your password" type="password" formControlName="password2">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-card *ngFor="let error of signUpErrors.password2">{{ error }}</mat-card>
        <button mat-flat-button color="primary" [disabled]="!signUpForm.valid">Register</button>
      </div>
    </form>
  </mat-tab>

  <mat-tab label="Login">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-container">
        <mat-card *ngIf="loginError">{{ loginError }}</mat-card>
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input placeholder="Enter your login" matInput formControlName="username">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" type="password" formControlName="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="primary">Login</button>
      </div>
    </form>
  </mat-tab>

  <mat-tab label="Forgot password">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" placeholder="Enter your email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <button mat-flat-button color="primary">Send reset email</button>
    </div>
  </mat-tab>
</mat-tab-group>
