.mat-form-field {
  display: table;
}

.form-container {
  display: grid;
  margin: 20px auto 0 auto;
  max-width: 600px;
}

button {
  display: table;
}

.mat-card {
  margin-bottom: 10px;
  color: red;
}
